<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ site.Title }}</title>
  <!-- this ensures the page is scaled according to the device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- defer CSS. see: https://web.dev/articles/defer-non-critical-css -->
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inclusive+Sans:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Inclusive+Sans:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"></noscript>
  
  {{ with resources.Get "css/main.css" }}
    <style>{{ .Content | safeCSS }}</style>
  {{ end }}
</head>
<body>
  <div class="global-wrapper">
    {{ block "main" . }}
    {{ end }}
  </div>
</body>
</html>
