@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

:root {
  --primary-color: #59322B;
  --red: #D54751;
  --orange: #EF9A48;
  --background-color: #FFFCC7;
  --cyan: #4DA394;

  /* sizes */
  --page-width: 800px;
}

*, ::after, ::before {
  /* box-sizing: border-box; */
}

html {
}

html, body {
  height: 100%;
}

body {
  /* Putting these svg filters on the <html> element didn't work on Firefox */
  /* Also on Firefox, you need to set background for inner elements, instead of body */
  /* filter: url('/svg/retro_filter.svg#filter');
  -webkit-filter: url('/svg/retro_filter.svg#filter'); */

  font-family: 'Inclusive Sans', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: var(--primary-color);

  line-height: 1.6;
  margin: 0;
  padding: 0;

  position: relative; /* required to make the overlay work */
}

.global-wrapper {
  background-color: var(--background-color);
}

.overlay {
  background-image:url('../assets/images/textures/Texturelabs_ReticulationNoise_small.jpg');
  background-repeat: repeat;

  position: absolute;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  height: 100%;

  mix-blend-mode: overlay;
  pointer-events: none;
  opacity: 4%;
}


header, nav, main, footer {
  padding: 20px;
}
header {
  background-color: #4DA394;
  text-align: center;
}

.width-limiter {
  max-width: var(--page-width);
  margin: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
.post {
  background-color: #d7dee9;
  margin-bottom: 20px;
}
footer {
  background-color: var(--cyan);
  text-align: center;
  color: var(--background-color);
  border-top: solid var(--primary-color) 2px;
  font-size: 1rem;
}

/* markdown components */

p {
  margin: 1em 0;
}
p:last-child {
  margin-bottom: 0;
}
p:first-child {
  margin-top: 0;
}

a {
  color: var(--cyan);
  text-decoration-thickness: 2px;
}
a:active {
  color: var(--red);
}

code {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.highlight pre {
  font-size: 1rem;
  overflow-x: scroll;
}

blockquote {
  border-left: solid 0.5rem var(--cyan);
  margin: 0;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/* debug */

.debug-text {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  color: var(--red);
}
