{{ define "main" }}
<div class="debug-border">
  <header>
    <div class="width-limiter">
      <img id="logo" src="/svg/logo.svg" width="600px" height="250px" alt="A logo that says YAPTOPIA">
    </div>
  </header>
  <main>
    <div class="width-limiter">
      <article>
        <span class="debug-text">layouts/index.html</span>
        {{ .Content }}

        {{ $posts := where .Site.RegularPages "Section" "posts" }}
        {{ $posts := where $posts "Draft" false }}
        {{ $posts := $posts.ByDate.Reverse }}

        {{ range $posts }}
        <p>
          <div>{{ .Date |  time.Format (default "January 2, 2006" site.Params.DateFormat) }}</div>
          <div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
        </p>
        {{ end }}
      </article>
    </div>
  </main>
  <footer>
    <i>Don't regret. <br> You couldn't have possibly done otherwise.</i>
  </footer>
</div>
{{ end }}
